.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cover-medium {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
}

.cover-small {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 8px;
}

.cover-tiny {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 8px;
}

button {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 0;
    background-color: #0b8ba6;
    align-self: center;
    padding: 10px 20px;
    font: 500 14px/20px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

button:hover {
    opacity: 80%;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.title {
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    margin-top: 36px;
    white-space: nowrap;
    font: 500 24px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
.title-left {
    text-align: left;
    color: #0b8ba6;
    align-self: center;
    font-feature-settings: "clig" off, "liga" off;
    margin-left: 36px;
    white-space: nowrap;
    font: 500 24px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.page-container {
    margin: 32px;
    align-items: center;
}

.page-content {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

.page-card {
    padding: 12px 24px 12px 24px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.errorMsg {
    color: red;
}

.primary-actions {
    margin-top: 16px;
    display: flex;
}

.primary-content {
    flex: 1;
}

.primary-button {
    min-width: 160px;
}

/* enable to debug css*/
/*div {*/
/*    border: solid 1px #333;*/
/*}*/