body {
    background: url("https://m.media-amazon.com/images/G/01/AmazonMusic/BrandRedesign/SonicRush/Bottom_CTA_-_Desktop.png");
}

li, select {
    min-height: 36px;
}

.cover-large {
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 8px;
}

.cover-medium {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
}

.cover-small {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 8px;
}

.product-detail-item,
.product-detail {
    width: 100%;
}

.category-frame {
    margin: 32px;
    align-items: center;
}

.name {
    max-width: 160px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.product-detail-container,
.remove-product,
.add-product,
.search-page,
.product-detail-page,
.category-frame-container {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

.product-detail-item {
    border-bottom: 1px solid #ccc;
}

.product-detail-review {
    margin-top: 24px;
    width: 100%;
}

.product-detail-wrapper,
.product-container,
.container {
    padding: 4px;
    background: #fff;
    width: fit-content;
    display: flex;
    border: solid 1px #ccc;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.product-container > div {
    line-height: 1.5em;
}

.add-review {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    align-content: center;
}

.review-container {
    margin-top: 12px;
    margin-bottom: 23px;
    background: #FFFFFF;
    padding: 12px 24px 12px 24px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-detail-wrapper {
    width: 800px;
}

.category-container {
    background: #fff;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
}

button {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 0;
    background-color: #0b8ba6;
    align-self: center;
    padding: 10px 20px;
    font: 500 14px/20px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

button:hover {
    opacity: 80%;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.title-left {
    text-align: left;
    color: #000;
    align-self: center;
    font-feature-settings: "clig" off, "liga" off;
    margin-left: 20px;
    white-space: nowrap;
    font: 500 24px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.page-container {
    margin: 32px;
    align-items: center;
}

.page-content {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

.page-card {
    background: #FFFFFF;
    padding: 12px 24px 12px 24px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.errorMsg {
    color: red;
}

.primary-actions {
    margin-top: 16px;
    display: flex;
}

.primary-content {
    flex: 1;
}

.primary-button {
    min-width: 160px;
}

/* enable to debug css*/
/*div {*/
/*    border: solid 1px #333;*/
/*}*/