.header {
    background-color: #0B8BA6;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.logo {
    font-size: 1.5rem;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    padding: 10px;
    margin-top: 3px; /* Adjust the margin as needed */
    text-decoration: none;
    background-color: #0B8BA6;
}

.toggle-menu-header {
    text-decoration: none;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.cart-counter {
    background: blueviolet;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
}

