.orders {
    padding: 32px;
    align-items: center;
}

.orders-container {
    padding: 12px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.orders-details {
    padding: 32px;
    align-items: center;
}

.order-details-container {
    padding-bottom: 12px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

.order-details-card {
    padding: 12px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-details-items {
    margin-top: 10px;
}

.order-details-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 14px;
}

.order-details-item.cover {
    align-content: center;
    align-items: center;
}

.order-details-item.header {
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border-bottom: 1px solid #333;
}

.order-details-item.total {
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.order-details-item.content {
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.order-details-price,
.order-details-quantity {
    text-align: center;
    align-items: center;
}