.product-item {
    padding: 24px;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.star {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: gold;
}
