.list-items-vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.review-list-container {
    width: 50%;
}

.review-list {
    padding: 10px;
}

.list-items-vertical li{
    margin-top: 2px; /* Adjust the spacing between items */
    margin-bottom: 2px; /* Adjust the spacing between items */
    display: flex;
    width: 500px;
    max-width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}
.add-review {
    max-width: 100%;
}
.review-text {
    margin: 4px;
    max-width: 100%;
}