.cart-items {
    margin-top: 10px;
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 14px;
}

.cart-name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item.header {
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border-bottom: 1px solid #333;
}

.cart-item.total {
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.cart-item-cover,
.cart-item-name,
.cart-price,
.cart-quantity-btn,
.cart-action {
    text-align: center;
    align-items: center;
}

.cart-quantity-container {
    width: 100%;
    height: 32px;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.cart-items-quantity {
    display: inline-block;
    min-width: 24px;
}

.cart-quantity-btn {
    color: #fff;
    padding: 10px 14px;
    opacity: 100%;
    border-radius: 4px;
    background-color: #0b8ba6;
}

.cart-quantity-btn:hover {
    opacity: 90%;
}